body {
    margin: 0;
}

main {
    height: 100vh;
    background-color: #333;
}

.prikk {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

span {
    color: white;
}